<div class="conteiner">

  <div class="top" >
    <div class="top__content">
      <div class="top__main" >
        <p>Potepan Shareでまだ体験したことのない旅をしよう</p>
        <div class="top__form">
          <%= form_with url: area_rooms_path, method: :get, local: true do |f| %>
            <%= f.text_field :area, placeholder: "エリアで探す", class:"area" %>
            <%= f.submit "検索", class:"btn" %>
          <% end %>
        </div>
      </div>
    </div>
  </div>

  <div class="erea">
    <p>おすすめのエリア</p>
    <div class="erea__images">
      <div class="erea__item">
        <img src="https://presite-potepancamp-rails-02.herokuapp.com/assets/img_tokyo.jpg" alt="東京の画像">
        <span>東京</span>
      </div>
      <div class="erea__item">
        <img src="https://presite-potepancamp-rails-02.herokuapp.com/assets/img_osaka.jpg" alt="大阪の画像">
        <span>大阪</span>
      </div>
      <div class="erea__item">
        <img src="https://presite-potepancamp-rails-02.herokuapp.com/assets/img_kyoto.jpg" alt="京都の画像">
        <span>京都</span>
      </div>
      <div class="erea__item">
        <img src="https://presite-potepancamp-rails-02.herokuapp.com/assets/img_sapporo.jpg" alt="札幌の画像">
        <span>札幌</span>
      </div>
    </div>
  </div>

</div>

