// Place all the styles related to the reservations controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
$cMainColor: black;
$cWhite: white;

.content {

  & .form {
    width: 200px;
    height: 30px;
    margin-bottom: 5px;
  }
  
  & .reservation-btn {
    width: 205px;
    height: 35px;
    color: $cMainColor;
    background-color: yellow;
    border: none;
    cursor: pointer;
    text-align: center;
    box-shadow: 1px 1px;
    margin-top: 30px;
    font-size: 14px;
    font-weight: 600;
  
    &:hover {
      background-color: #FFFF66;
    }
  }


}


