.login {
  padding: 150px;
  position: relative;

  &__content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
  }

  & .login-btn {
    width: 150px;
    height: 35px;
    color: #000;
    background-color: yellow;
    border: none;
    box-shadow: 1px 1px;
    margin-top: 30px;
    font-size: 14px;
    font-weight: 600;
  }
}